* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #1F2937;
    color: white;

}

.content_one {}

.content_two {}

.content_three {}


.footer {
    background-color: #1F2937;
}

.navbar {
    display: flex;
}

.landing {
    display: flex;
    padding-bottom: 50px;
}

.left {
    flex: 1;
    padding: 32px 0;
    margin-left: 350px;
    max-width: 400px;
}

.right {
    flex: 2;
    padding: 32px 0;

}

.options {
    display: flex;
    justify-content: center;
    gap: 24px;
    list-style-type: none;
}

.options li {
    text-decoration: none;
}

#placeholder {
    margin-left: 10%;
}

h1 {
    font-size: 40px;
}

.button_one {
    background-color: #3882F6;
    border-radius: 5px;
    color: white;
    padding: 5px 25px;
    border: none;
    font-weight: 600;
    margin-top: 10px;
}