* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #1F2937;
    color: white;

}

.content_one {}

.content_two {}

.content_three {}


.footer {
    background-color: #1F2937;
}

.navbar {
    display: flex;
}

.landing {
    display: flex;
}

.left {
    flex: 1;
    padding: 32px 0;
    margin-left: 15%;
    background-color: red;
}

.right {
    flex: 2;
    padding: 32px 0;

}

.options {
    display: flex;
    justify-content: center;
    gap: 16px;
    list-style-type: none;
}

.options li {
    text-decoration: none;
}

.logo {
    font-weight: 700;
    font-size: 32px;
}