* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #1F2937;
    color: white;

}

.content_one {
    text-align: center;
    padding: 50px;
}

.content_two {
    background-color: #E5E7EB;
    padding: 100px 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content_three {}


.footer {
    background-color: #1F2937;
    padding: 35px;
    color: white;
    text-align: center;
}

.navbar {
    display: flex;
}

.landing {
    display: flex;
    padding-bottom: 50px;
}

.left {
    flex: 1;
    padding: 32px 0;
    margin-left: 350px;
    max-width: 400px;
}

.right {
    flex: 2;
    padding: 32px 0;

}

.options {
    display: flex;
    justify-content: center;
    gap: 24px;
    list-style-type: none;
}

.options li {
    text-decoration: none;
}

#placeholder {
    margin-left: 10%;
}

h1 {
    font-size: 40px;
}

.button_one {
    background-color: #3882F6;
    border-radius: 5px;
    color: white;
    padding: 5px 25px;
    border: none;
    font-weight: 600;
    margin-top: 10px;
}

.row_images {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 50px 0;
}

.row_items {
    max-width: 150px;
}

.random {
    border-radius: 10px;
    border: 2.5px solid #3882F6;
}

#quote {
font-size: 36px;
color: #1F2937;
font-weight: 300;
font-style: italic;
}

#person {
    align-self: flex-end;
}